PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/intelliload
INFLUXDB_URL=http://127.0.0.1:8086
INFLUXDB_TOKEN=intelliload-dev-token
INFLUXDB_ORG=intelliload
INFLUXDB_BUCKET=metrics
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
ML_SERVICE_URL=http://127.0.0.1:8000
